#dropbox,
#dropbox2,
#dropbox3 {
    width: 520px;
    height: 300px;
    padding: 10px;
    background-color: lightblue;
    color: white;
    font-size: 24px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-size: contain;
    /* background-image: url(); */
}

#preview {
    font-size: 24px;
}